.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 80px 40px;
}

.text-help {
  width: 32%;
  text-align: start;
  margin-left: 45px;
}

.input-bar {
  margin-left: 5px;
  border: 1px solid white;
  outline: none;
}

.form-input img {
  width: 30px;
}

.form-input {
  border: 1px solid #7400b8;
  border-radius: 42px;
  padding: 10px;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.52);
  width: 22%;
}

@media only screen and (max-width: 600px) {
  .text-help {
    visibility: hidden;
  }

  .form-input {
    margin-right: 40%;
    width: 90%;
  }

  .input-bar {
    margin: 0 2% 10%;
  }
}
