.register-baru{
    background-color: #7400b8;
    justify-content: center;
    margin-bottom: -80px;
    height: 100vh;
    padding-top: 50px;
  }

.form-register {
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba( 142, 142, 142, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );text-align: center;
    margin:  20px auto;
    width: 500px;
    border-radius: 20px;
    height: 500px;
}



.form-register h2 {
    margin-top: 60px;
    color: white;
  }
.form-register p {
    color: white;
  }



.input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 300px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid rgb(234, 228, 228);
    background-color: rgb(234, 228, 228);
    border-radius: 10px;
    font-size: 20px;
}

.form-masuk {
    width: 200px;
    margin-left: 97px;
}


@media screen and (max-width: 960px){
    .form-register {
        width: 400px;
    }
    .register-baru{
        padding-top: 20px;
    }
    .form-masuk {
        float: left;
        width: 200px;
        margin-left: 50px;
    }
}